/.idea/
/EventSubWebsocket.iml
/node_modules/
/package-lock.json
.glitchdotcom.json
.node-gyp
node_modules
/.env
/server.js
/server-old.js
.wireit
/eventsub_types.js
/register.js
/event_types.js
/utils.js
/public/dist/
/tsconfig.tsbuildinfo
/.tsbuildinfo
