<!DOCTYPE html>
<html class="dark" lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/global.css">
    <title>Mock Twitch EventSub Websocket</title>
    <style>
      .styled {
        font-size: 5vw;
        background: linear-gradient(to right, var(--color-twitch-purple-5) 0%, var(--color-twitch-purple) 50%, var(--color-twitch-purple-10) 100%);
        background-clip: text;
        color: transparent;
      }

      .buttons {
        margin: 0 24px;
        align-content: center;
        display: grid;
        grid-template-columns: repeat(auto-fit, min(max(19%, 18rem), 28rem));
        column-gap: 8px;
        align-self: center;
      }

      .looks-like-a-button span {
        display: inline-block;
        vertical-align: middle;
        line-height: initial;
      }

      .looks-like-a-button {
        height: 6rem;
        text-align: center;
        text-decoration: none;
        line-height: 5rem;

        vertical-align: middle;

        box-sizing: border-box;
        padding: 0.56rem 1rem;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1rem;
        align-items: center;
        background-attachment: scroll;
        background-color: var(--color-background-button-primary-default);
        color: var(--color-text-button);
        font-size: var(--button-text-default);
        font-weight: 600;
        font-family: inherit;
        border: none;
        border-radius: var(--border-radius-medium);
        cursor: pointer;
        transition: opacity .5s ease-in-out, filter .2s ease-in-out, transform .05s ease-in-out;
      }

      .looks-like-a-button:hover {
        cursor: pointer;
        filter: brightness(.85);
      }

      .looks-like-a-button:focus-visible {
        outline: .25rem solid #ea80ff;
        border-radius: .25rem;
      }

      .looks-like-a-button:active {
        filter: brightness(.7);
        transition: none;
      }

      .looks-like-a-button:disabled, button:disabled:hover, button:disabled:active {
        background-color: var(--color-background-button-disabled);
        filter: none;
      }
    </style>
  </head>
  <body>
    <h1 style="font-family: monospace;" class="styled">Mock Twitch EventSub WebSocket</h1>
    <div class="buttons">
      {{#events}}
        <a class="looks-like-a-button" href="/{{val}}"><span>{{name}}</span></a>
      {{/events}}
    </div>
  </body>
</html>